.additional-card__title {
    font-family: $font-title;
    color: $color-gray-800;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.additional-card__defenition {
    color: $color-gray-600;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
