.card {
    padding-top: 20px;
    padding-bottom: 25px;
}

.card__title {
    font-family: $font-title;
    color: $color-gray-800;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
