.catalog-section {
  color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.catalog-section__item {
  background-color: $color-gray-50;
  display: flex;
  flex-direction: column;
  padding: 20px 0 22px 20px;
}

.catalog-section__title {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-section__text {
  font-family: $font-text;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray-600;
  padding-right: 33px;
}

.catalog-section__link {
  font-family: $font-title;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog-section__item {
    padding: 50px;
  }

  .catalog-section__title {
    font-size: 36px;
    line-height: 36px;
  }

  .catalog-section__text {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    padding-right: 0;
  }

  .catalog-section__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-section {
    flex-direction: row;
    column-gap: 80px;
    justify-content: space-between;
  }

  .catalog-section__item {
    padding: 55px;
  }

  .catalog-section__text {
    width: auto;
  }
}
