.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__title {
  width: 140px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-gray-800;
}

.contacts__address {
  font-family: $font-text;
  color: $color-gray-600;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .contacts {
    justify-content: space-between;
    column-gap: 300px;
  }

  .contacts__title {
    width: 170px;
  }

  .contacts__address {
    width: 160px;
  }
}
