.description-table__element {
    color: $color-gray-600;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.description-table__value {
    color: $color-gray-600;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

