.form-group {
  border: none;
  padding: 0;
}

.form-group__list {
  display: grid;
  row-gap: 24px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 25px;
  list-style-type: none;
}

.form-group__item {
  margin: 0;
}

.form-group__title {
  font-family: $font-title;
  color: $color-black;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .form-group__title {
    font-size: 36px;
    line-height: 36px;
  }
}
