.gift-section__text {
  background-image: url("../img/catalog/gift-section.png");
  background-color: $color-green;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
