.how-work {
  color: $color-gray-600;
  padding-top: 20px;
}

.how-work__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin: 0;
  padding-bottom: 40px;
}

.how-work__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 26px;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.how-work__item {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .how-work__list {
    flex-direction: row;
    column-gap: 140px;
    row-gap: 80px;
  }

  .how-work__item {
    width: 225px;
  }
}

@media (min-width: $desktop-width) {
  .how-work__list {
    flex-direction: row;
    column-gap: 85px;
  }

  .how-work__item {
    width: 255px;
  }
}
