.how-work {
    color: $color-gray-600;
}

.how-work__title {
    font-family: $font-title;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $color-black;
}

.how-work__list {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
