.main-container__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.main-container__title {
  font-family: $font-title;
  color: $color-black;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container__text {
  font-family: $font-title;
  color: $color-black;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-container__wrapper {
    width: 720px;
  }

  .main-container__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-container__text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__wrapper {
    width: 1220px;
  }
}
