.main-header {
    margin: 0 20px;
}

.main-container {
    margin: 0 20px 20px 20px;
}

.main-container__title {
    font-family: $font-title;
    color: $color-black;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}

.main-container__text {
    font-family: $font-title;
    color: $color-black;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}


.main-footer {
    margin-left: 20px;
}
