.page {
  background-color: $color-white;
  display: flex;
  justify-content: center;
}

.page__body {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-text;
  font-size: 14px;
  line-height: 18px;
}
