.preview {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 25px;
  font-family: $font-title;
  text-align: center;
  color: $color-white;
  background-image: linear-gradient($color-gradient, $color-gradient), url("../img/index-background.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0 20px;
}

.preview__title {
  margin: 0;
  padding-top: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.preview__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .preview {
    color: $color-black;
    background-image: none;
    text-align: start;
    padding: 0 30px;
  }

  .preview__title {
    order: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .preview__text {
    order: 1;
    font-size: 20px;
    line-height: 20px;
  }

  .preview__button {
    order: 2;
  }

  .preview__image {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    width: auto;
    padding: 0 55px;
  }
}
