.preview {
  font-family: $font-title;
  text-align: center;
  color: $color-white;
  background-color: $color-green;
  background-image: url(../../img/index-background.png);
}

.preview__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.preview__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
